{% extends 'base.html'%}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- displaying  Username-->
    <div class="col-md-4">
      <!-- Card -->
      <div id="bg" class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          {% if user.profile %}
          <img src="{{url_for('static',filename=user.profile)}}" alt="profile avatar" class="rounded-circle">
          {%else%}
          <img src="/static/img/default.svg" alt="profile avatar" class="img-responsive rounded-circle">
          {% endif %}
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">{{user.username| capitalize}}</h4>
          <h5>{{user.occupation}}</h5>
          <hr class="default-color">
          <!-- Quotation -->
          <h4>Profile Details</h4>
          {% if user == current_user %}
          <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
          {% endif %}
          <!--Displaying user bio-->
          {% if user.about %}
          <p><i class="fas fa-quote-left"></i>{{user.about}}</p>
          {%else%}
          <p> {{user.username| capitalize}} has no bio </p>
          {% endif %}
        </div>
        <button id="change" class="btn btn-secondary animated fadeIn" type="button" name="button">Change
          Profile</button>
        <div class="profiles animated fadeIn">
          {%if user==current_user%}
          <form class="form-group" action="{{url_for('main.update_pic',uname=user.username)}}" method="post"
            enctype="multipart/form-data">
            <input class="form-control" type="file" name="photo" value="" required>
            <input id="update" class="btn btn-info" type="submit" name="" value="Save">
          </form>
          {%endif%}
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-8">
      <h1>My Blog Profile</h1>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-12">
          <div class="no">
          </div>
          <!-- Card -->
          <div class="card card-cascade wider reverse">

            <!-- Card image -->
            <div class="view view-cascade overlay">

              <div class="mask rgba-white-slight"></div>
              <h1 style="text-align:center">Post your blog </h1>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

              <!-- Title -->
              <h4 class="card-title">Hello {{current_user.username}} <strong>Create A new Blog Here </strong></h4>
              <!-- Subtitle -->
              <h6 class="font-weight-bold indigo-text py-2"><a href="{{url_for('main.new_blog')}}"><button>
              class="btn default-color" type="button" name="button">Get started Here</button></a></h6>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}