<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello People </title>

  </head>
  <body>
    <div style="text-align: center;background-color:#23262B;color:white;margin:auto;width:70%" class="">


    <h1 style="font-size: 60px;color:white"> Welcome to Pythoning Tutorials</h1>
    <h3>All technologies in one basket</h3>
    <h4 style="color:#987">Hello We are excited That your are here with us to get the latest Tutorials</h4>
    <p style="color:#987">
      Hello People Another Tutorial has been Posted on Pythoning by {{current_user.username}}.
      Hope in dont be left out by this amazing Tutorial and dont forget to leave a comment

      </p>

      <div class="card">
        <h1 style="color:#987">Oh Top Blog today</h1>
        <h2 style="color:#687">HttpClient request using Angular</h2>
        <i>by Collins Kipkemoi</i>


      </div>
      <div class="card">
        <img height="400px" width="400px" src="https://cdn-images-1.medium.com/max/1050/1*Rgcubeti6JDVTwMPhcqBCQ.png" alt="python image">
        <h1>Wondering which Language is used to write this </h1>
        <p><a style="color:white;" href="#">Its Go lang</a></p>

      </div>

      <p>Dont be left out!!
      <a style=" border-radius: none; text-decoration: none;padding: 15px;background-color: #588985;color:white;" target="_blank" href="https://inovpythoning.herokuapp.com/">Read the blog here</a></p>
<br>
<div  style="text-align:center;"class="footer">
  Copyright (c) 2019  Pythoning community All Rights Reserved.

</div>
<br>
</div>

  </body>
</html>
