{%extends 'base.html'%}
{%import "bootstrap/wtf.html" as wtf%}
{%block content%}

<div id="bac" class="jumbotron">
    <h1>{{message}}</h1>
    <p>How can a great day start ? with a good inspiration</p>
    {%for quo in quote%}
    <p>{{quo.quote}}</p>
    <i>~~{{quo.author}}~~</i>
    {%endfor%}
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-12"> -->
        <div class="container">

          <div class="bg-text; font-family: 'Akronim', cursive;">
            <h1>I am Paulyne Wambui</h1>
            <h3>I love writing and reading about different kinds of poems</h3>
            <p>join in and add more of your own... Karibu sana</p>
          </div>
          </pre>
          <br>

          <div class="container">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="../static/img/liam.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">LIAM</h5>
                    <p class="card-text">I will break your heart. Though I really want you, I cant give you my all. You see the problem with me is that I will chase you so hard, I want you so much, I will give you all the grand gestures and all. Then there will come a time, I will not need you anymore. I will despice your presence, I wont stand you. If you won't let go I will stray and keep you both.I will care but not completely. I  will mess you emotionally and that will be my poison. so before you get in, be sure this is it.</p>
                    
                  </div>
                </div>
              </div>
              <br> <br> <br> 
              <div class="col">
                <div class="card padding-left:30px;" style="width: 18rem;">
                  <img src="../static/img/laughter.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">LAUGHTER</h5>
                    <p class="card-text">I wanted to end the week with you. Then I wondered, why not begin the night with you, and would it be so terrible if I carried it over to breakfast and a cup of something hot to drink and smoke with you?</p>
                  
                  </div>
                </div>
              </div> 

              <br> <br> <br> 
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="../static/img/friendship.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">FRIENDSHIP</h5>
                    <p class="card-text">Look after your friends. Make sure they are okay. Sometimes they are going through things that are really heavy, things that they dont know how to put in words. They might say that they are fine but they are not.Never underestimate the power of a kind word or deed. So spread the love.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="bg-info">
          <h1>Comments....</h1>
          <div class="container">
            <div class="comments">
              {%for comment in commento%}
              <div class="comments card">
                <div class="card-header">

                  <p>{{comment.username}} commented on {{comment.posted}}</p>
                </div>
                <div class="card-body">
                  <p>{{comment.comment}}</p>
                </div>
                <div class="card-footer">

                  {%if current_user.is_authenticated%}
                  <a href="" data-method="delete" data-confirm="Are you sure?">admin online</a>
                  {%endif%}
                </div>
              </div>

              {%endfor%}

            </div>
            <div class="row">

              <div class="col-md-2">

              </div>
              <div class="col-md-8">
                <div class="">
                  <h3>Add a comment</h3>
                  <p class="alert alert-info"><b>By commenting you automatically subscribe to email subscription</b></p>
                  <br>
                  <br>
                  {{wtf.quick_form(comments)}}

                </div>

              </div>
              <div class="col-md-2">

              </div>

            </div>


          </div>
        </div>

      </div>
    
    </div>
  </div>
</div>
{%endblock%}